h1{
    background-color:purple;
}
p{
    color:red;
    font-size:25px;
    font-family:Italic
}
h1,h2{
    border-bottom:1px solid black;
}
p{
    color:red;
    font-size:25px;
    font-family:Helvetica;
}



