body {
  /* fast fix for us abusing Bootstrap */
  overflow-x: hidden;
}

.nav-link:not(.active) {
  color: #000;
}

.nav-link.active {
  font-weight: bold;
}
body {
  font-family: 'Montserrat', sans-serif;
  }

.only-if-logged-in, .only-if-not-logged-in {
  display: none;
}

p {
  margin-top: -0.7rem;
}

h3, h4, h5 {
  margin-bottom: 1rem;
}

table {
  border-bottom: 1px solid #ddd;
}
.bg-warning {
  background: #fc0;
  background: linear-gradient(90deg,#ff6100 0,#fc0);
  height: 8px;
  
    }
  .logo{
        height: 50px;
    
  }
  
  .sidenav {
    
    background-color: #FBF2EA;
    margin-top: 1.9em;
    }

  .green{
    width: 125%;
    height: 10em;
  }

  .btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn{
  background-color:  #FBF2EA;
  color: #000;
}

footer li{
  display: inline-block;
  padding: 15px;
  padding-left: 135px;
  text-align: center;  
}

.form-check-input[type=checkbox].filled-in:checked+label:after, 
label.btn input[type=checkbox].filled-in:checked+label:after {
  border: 2px solid #4285f4;
  background-color: #4285f4;
}
.mb-4-5 {
  margin-bottom: 24px;
}
.blue-box {
  float: left;
  width: 345px;
  height: 200px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  color: orange;
  background-image: url(debitcard.JPG);
}

/* slide three debit card preview */
